.section.features {
  @include for-size(desktop) {
    padding-bottom: 0px;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
}

.features-list > .item {
  margin: 15px;
  width: 100%;

  @include for-size(tablet-landscape) {
    width: calc((100% - 4 * 15px) / 2);
  }

  @include for-size(desktop) {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.features-list .title {
  color: $secondary-color;
}

.features-item {
  fill: $secondary-color;
}

.faetures-background {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  background-color: $secondary-fon-color;
}

.desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
