.footer {
  background-color: $footer-bgr-color;
  color: $wight-color;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flexbox {
  display: block;
  text-align: center;
  margin-bottom: 60px;

  @include for-size(desktop) {
    text-align: start;
  }
}

.footer-flexbox:not(:last-child) {
  @include for-size(desktop) {
    width: 270px;
    margin-right: 30px;
  }
}
.footer-flexbox.subscribe {
  @include for-size(desktop) {
    width: 570px;
  }
}

.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts {
  display: inline-block;

  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
  text-align: center;
  margin-right: 0px;
  color: $wight-color;

  @include for-size(desktop) {
    margin-bottom: 20px;
    margin-right: 85px;
  }
}

.footer-logo:hover,
.footer-logo:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: $acsent-color;
}

.footer .social-links {
  @include for-size(desktop) {
    padding-left: 0px;
    padding-right: 64px;
  }
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;

  &:hover,
  &:focus {
    background-color: $acsent-color;
  }
}

.footer-subscribe {
  display: inline-block;

  height: 50px;
  width: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: $footer-bgr-color;
  color: $footer-contacts-color;

  @include for-size(desktop) {
    width: 358px;
    margin-right: 8px;
  }
}

.caption {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
