.section {
  padding: 60px 0px;
  @include for-size(desktop) {
    padding: 94px 0px;
  }

  &-title {
    margin-top: 0px;
    margin-bottom: 30px;

    color: $secondary-color;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
    text-align: center;
    letter-spacing: 0.03em;

    @include for-size(desktop) {
      font-size: 36px;
      line-height: 1.167;
      margin-bottom: 50px;
    }
  }
}
