.form-modal {
  display: block;
  width: 320px;
  height: 579px;
  padding: 16px;

  @include for-size(tablet-portrait) {
    width: 450px;
    height: 609px;
    padding: 40px;
  }

  @include for-size(desktop) {
    width: 528px;
    height: 581px;
    padding: 40px;
  }
}

.form-modal-list {
  margin-bottom: 30px;
}

.form-paragraf {
  margin-bottom: 12px;

  color: $secondary-color;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-fild {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
}

.form-input {
  height: 40px;
  padding: 11px 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: rgba(0, 0, 0, 0.12);

  font-size: 18px;

  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-fild input:focus,
.form-fild textarea:focus {
  outline-color: $acsent-color;
  border: 0px solid $wight-color;
  border-radius: 0px;
}

.icon {
  position: absolute;
  top: 29px;
  left: 15px;
}

.icon-item {
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .icon > .icon-item {
  fill: $acsent-color;
}

.comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: rgba(0, 0, 0, 0.12);

  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);

  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @include for-size(desktop) {
    font-size: 14px;
    line-height: 1.714;
  }
}

.form-fild-checkbox {
  margin-top: 20px;

  text-align: center;
}

.icon-checkbox {
  display: inline-block;
  vertical-align: middle;

  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 1.8px solid $secondary-color;
  border-radius: 3px;

  background-color: $wight-color;
}

.input-checkbox:checked + .icon-checkbox {
  border-color: transparent;
  background-color: $acsent-color;
  background-image: url(../image/icon/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.agreement {
  margin-left: 3px;

  color: $acsent-color;
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
