.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-size(tablet-landscape) {
    align-items: flex-start;
  }

  @include for-size(desktop) {
    flex-direction: row;
  }

  &-item:not(:last-child) {
    margin-bottom: 16px;

    @include for-size(tablet-landscape) {
      margin-bottom: 10px;
    }

    @include for-size(desktop) {
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }

  & .link {
    color: inherit;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;

    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);

    @include for-size(tablet-landscape) {
      font-size: 14px;
      line-height: 1.167;
    }

    @include for-size(desktop) {
      padding-bottom: 32px;
      padding-top: 32px;
      font-size: 14px;
      line-height: 1.14;
    }

    &:hover,
    &:focus {
      color: $acsent-color;
    }
  }
}

.icon-smartphone,
.icon-envelope {
  display: inline-block;
  vertical-align: middle;

  fill: $primary-color;

  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);

  @include for-size(tablet-landscape) {
    margin-right: 8px;
  }

  @include for-size(desktop) {
    margin-right: 10px;
  }
}

.link.phone:hover .icon-smartphone,
.link.phone:focus .icon-smartphone,
.link.mail:hover .icon-envelope,
.link.mail:focus .icon-envelope {
  fill: $acsent-color;
}
