.menu-container {
  padding: 0;
  align-items: center;
  background-color: $wight-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 420px;

    &.is-open {
      display: block;
    }
  }
  @include for-size(tablet-landscape) {
    display: flex;
    flex-grow: 1;
    box-shadow: none;
    align-self: flex-end;
  }
}
